
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #4F789F;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 1.6em;
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}

a {
	color: #4F789F;
}

a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

/* Header */

#header {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	padding: 0 40px;
	background: url(images/img03.jpg) no-repeat left bottom;
}

/* Menu */

#menu {
	width: 900px;
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 25px 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 150px;
	height: 38px;
	padding: 12px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.8em;
}

#menu .active a {
	background: #B3EAFD url(images/img02.jpg) no-repeat;
}

/* Logo */

#logo {
	clear: both;
	width: 900px;
	height: 200px;
}

#logo h1, #logo h2 {
	text-transform: lowercase;
	font-style: italic;
}

#logo h1 {
	padding: 70px 0 0 0;
	font-size: 4em;
}

#logo h2 {
	padding: 0 0 0 100px;
	font-size: 2em;
}

#logo a {
	text-decoration: none;
	color: #479EF3;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 30px 0;
}

/* Content */

#content {
	float: left;
	width: 580px;
}

.post {
}

.post .date {
	float: left;
	width: 70px;
	margin: 0 15px 0 0;
	padding: 2px 0;
	background: #C9E5FC;
	border: 1px solid #C9E5FC;
	text-align: center;
	font-size: 11px;
	color: #3F4C6B;
}

.post .date b {
	display: block;
	padding: 5px 0;
	background: #F4FAFE;
	font-size: 24px;
	font-weight: normal;
}

.post .title {
	margin: 0;
}

.post .meta {
	margin: 0 0 0 0;
	color: #B2B7C4;
}

.post .entry {
	padding: 20px 0;
	line-height: 200%;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
	padding: 20px 20px 40px 20px;
	background: url(images/img04.jpg) no-repeat;
}

#sidebar li ul {
	line-height: 240%;
}

#sidebar li li {
	margin: 0;
	padding: 0;
	background: none;
	padding-left: 15px;
	background: url(images/img05.gif) no-repeat left center;
}

#sidebar h2 {
	margin-bottom: 20px;
	text-transform: lowercase;
	color: #4F789F;
}

#s {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	padding: 40px 0;
	background: #EAF1F7;
	border-top: 5px solid #A2C9EA;
	text-align: center;
}

#footer p {
	margin: 0;
	color: #76AEDB;
}

#footer a {
	color: #76AEDB;
}

